<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="admin-items-index">
        <div class="title">
          <p>
            商品一覧
          　<%= link_to '⊕', new_admin_item_path, class:"btn btn-sm btn-default" %>
          </p>
        </div>
        <table class="table table-stripped">
          <thread>
            <th>商品ID</th>
            <th>商品名</th>
            <th>税抜価格</th>
            <th>ジャンル</th>
            <th>ステータス</th>
          </thread>
          <tbody>
            <% @items.each do |item| %>
              <tr>
                <td><%= item.id %></td>
                <td><%= link_to item.name, admin_item_path(item.id) %></td>
                <td><%= converting_to_jpy(item.price) %></td>
                <td><%= item.genre.name %></td>
                <td><%= item.is_active ? '販売中' : '販売停止中' %></td>
              </tr>
            <% end %>
          </tbody>
      </div>
    </div>
  </div>
</div>
<div class="paging"><%= paginate @items %></div>