<div class="container">
  <div class="row">
    <div class="admin-customer-show col-md-12">
    <div class="title">
      <p><%= @customer.full_name %>さんの会員紹介</p>
    </div>
      <table>
        <tbody>
          <tr>
            <th>氏名</th>
            <td>&emsp;<%= @customer.last_name %><%= @customer.first_name %></td>
          </tr>
          <tr>
            <th>カナ</th>
            <td>&emsp;<%= @customer.last_name_kana %><%= @customer.first_name_kana %></td>
          </tr>
          <tr>
            <th>郵便番号</th>
            <td>&emsp;<%= @customer.postal_code %></td>
          </tr>
          <tr>
            <th>住所</th>
            <td>&emsp;<%= @customer.address %></td>
          </tr>
          <tr>
            <th>電話番号</th>
            <td>&emsp;<%= @customer.telephone_number %></td>
          </tr>
          <tr>
            <th>メールアドレス</th>
            <td>&emsp;<%= @customer.email %></td>
            </td>
          </tr>
          <tr>
            <th>会員ステータス</th>
            <td>&emsp;<%= @customer.is_active %></td>
          </tr>
        </tbody>
      </table>
      <div class="links">
        <%= link_to "編集する", edit_admin_customer_path, class:"btn btn-sm btn-success" %>&emsp;&emsp;&emsp;
        <%= link_to "注文履歴一覧を見る", admin_root_path, class:"btn btn-sm btn-primary" %>
      </div>
    </div>
  </div>
</div>