<div class="container">
  <div class="row">
    <div class="mypage">
    <div class="title">
      <p>会員情報編集</p>
    </div>
      <table class="row">
        <%= form_with model: @customer, url:customer_path, local:true do |f| %>
        <tbody>
          <tr>
            <th>氏名</th>
            <td><%= f.text_field :last_name %><%= f.text_field :first_name %></td>
          </tr>
          <tr>
            <th>カナ</th>
            <td><%= f.text_field :last_name_kana %><%= f.text_field :first_name_kana %></td>
          </tr>
          <tr>
            <th>郵便番号</th>
            <td><%= f.text_field :postal_code %></td>
          </tr>
          <tr>
            <th>住所</th>
            <td><%= f.text_field :adress %></td>
          </tr>
          <tr>
            <th>電話番号</th>
            <td><%= f.text_field :telephone_number %></td>
          </tr>
          <tr>
            <th>メールアドレス</th>
            <td><%= f.text_field :email %></td>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="mypage-link">
        <p><%= f.submit "編集内容を保存", class:"btn btn-sm btn-success" %></p>
        <p><%= link_to "退会する", customers_unsubscribe_path, class:"btn btn-sm btn-danger" %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
