<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="title">
        <p>注文情報確認</p>
      </div>
      <table class="table table-stripped">
        <tbody>
          <tr>
            <% @cart_items.each do |cart_item| %>
            <td>
              <p>商品名</p>
              <%= cart_item.item.name %>
              <p>単価（税込）</p>
              <%= cart_item.item.price %>
              <p>数量</p>
              <%= cart_item.amount %>
              <p>小計</p>
            <% end %>
            </td>
          </tr>
        </tbody>
      </table>
      <p>支払方法<%= @order.payment_method %></p>
      <p>お届け先<%= @address.postal_code %><%= @address.address %></p>
      <p><%= @address.name %></p>
　　　<div class="link">
　　　  <%= link_to "注文を確定する", orders_confirm_path(@order), method: :post, class:"btn btn-sm btn-success" %>
　　　</div>
    </div>
  </div>
</div>