<div class="container">
  <div class="row">
    <div class="orders-index">
      <div class="title"><p>注文履歴一覧</p></div>
      <table border="1" class="table table-stripped">
        <tr>
          <th>注文日</th>
          <th>配送先</th>
          <th>注文商品</th>
          <th>支払金額</th>
          <th>ステータス</th>
          <th>注文詳細</th>
        </tr>
        <% @orders.each do |order| %>
        <tr>
          <td><%= order.created_at.to_s(:datetime_jp) %></td>
          <td><%= order.full_address %></td>
          <td><%= order.customer_id %></td>
          <td><%= converting_to_jpy(order.total_payment) %>円</td>
          <td><%= order.status %></td>
          <td><%= link_to "表示する", order_path(order.id), class:"btn btn-sm btn-primary" %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>