<div class="container px-5 px-sm-0">
  <div class="row">
    <%= render 'homes/list', genres: @genres %>
    <div class="col-md-8 offset-md-1">
      <div class="introduction">
        <p>ようこそ、ながのCAKEへ！<br>このサイトは、ケーキ販売のECサイトになります。
        <br>会員でない方も商品の閲覧はできますが、<br>購入には会員登録が必要になります。</p>
      </div>
      <div class="items">
        <h4>新着商品</h4>
        <div class="new-items">
          <% @items.each do |item| %>
          <div>
          <p><%= attachment_image_tag item, :image_id, :fill, 60, 60, format: 'jpeg', fallback: "no_image.jpg" %></p>
             <p><%= link_to item_path(item) do %>
               <%= item.name %>
             <% end %></p>
          <p><%= item.price %></p>
          </div>
          <% end %>
        </div>
        <div class="link">
          <%= link_to "全ての商品を見る>", items_path %>
        </div>
      </div>
  </div>
</div>