<div class="container">
  <div class="row">
    <div class="addresses-index col-md-12">
      <div class="title">
        <p>配送先登録/一覧</p>
      </div>
      <div class="address-create">
        <%= form_with model: @address, url: addresses_path, method: :post, local: true do |f| %>
          <p>郵便番号(ハイフンなし)<%= f.text_field :postal_code %></p>
          <p>住所<%= f.text_field :address %></p>
          <p>宛名<%= f.text_field :name %>
             <%= f.submit '新規登録', class:"btn btn-sm btn-success address-new" %>
          </p>
        <% end %>
      </div>
      <table class="table table-stripped">
        <tr>
          <th>郵便番号</th>
          <th>住所</th>
          <th>宛名</th>
          <th></th>
          <th></th>
        </tr>
          <% @addresses.each do |address| %>
          <tr>
            <td><%= address.postal_code %></td>
            <td><%= address.address %></td>
            <td><%= address.name %></td>
            <td><%= link_to "編集する", edit_address_path(address.id), class:"btn btn-sm btn-success" %></td>
            <td><%= link_to "削除する", address_path(address), method: :delete, class:"btn btn-sm btn-danger" %></td>
          </tr>
          <% end %>
      </table>
    </div>
  </div>
</div>