<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <p>ジャンル検索</p>
    </div>
    <div class="col-md-8 offset-md-1">
      <div class="item">
        <%= @item.name %>
        <%= @item.introduction %>
        <%= @item.price %>
      <%= form_with model: @cart_item, url: cart_items_path, local: true do |f| %>
        <%= f.label :amount, "個数選択" %>
        <%= f.select :amount, [1,2,3,4,5,6,7,8,9,10] %>
        <%= f.hidden_field :item_id, :value => @item.id %>
        <%= f.submit "カートに入れる" %>
      <% end %>
      </div>
  </div>
</div>