<div class="container px-5 px-sm-0">
  <div class="row">
    <%= render 'homes/list', genres: @genres %>
    <div class="col-md-8 offset-md-1">
      <div class="item">
        <p><%= attachment_image_tag @item, :image_id, :fill, 60, 60, format: 'jpeg', fallback: "no_image.jpg" %></p>
        <p><strong><%= @item.name %></strong></p>
        <p><%= @item.introduction %></p>
        <p><strong>¥<%= converting_to_jpy((@item.price*1.08).to_i) %></strong>(税込)</p>
      <%= form_with model: @cart_item, url: cart_items_path, local: true do |f| %>
        <%= f.label :amount, "個数選択" %>
        <%= f.select :amount, [1,2,3,4,5,6,7,8,9,10] %>
        <%= f.hidden_field :item_id, :value => @item.id %>
        <%= f.submit "カートに入れる", class:"btn btn-sm btn-success" %>
      <% end %>
      </div>
  </div>
</div>